::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  border-radius: 0.375rem;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
}
::-webkit-scrollbar {
  background-color: #212121;
  width: 0.375rem;
}

.chat {
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  margin-top: 70px;

  .outline-none {
    outline: 0px;
  }
  .chat-search {
    background-color: #101010;

    input {
      // background-color: #2c2c2c;
    }
  }
  .chat-section {
    background-image: url("../../../public/chat-bg-pattern-dark.png");
    background-color: #101010;
    background-size: 500px;
    background-position: center;
  }

  .chat-messages {
    height: calc(100vh - 150px);
  }
  .chat-message {
    img {
      aspect-ratio: 1;
      width: 60px;
      object-fit: cover;
      object-position: center;
    }
    .message {
      background-color: #766ac8;
      border-radius: 10px 0px 10px 0px;
      // position: relative;
    }
    // .message::after {
    //   position: absolute;
    //   content: "";
    //   content: "";
    //   border-left: 20px solid #cc0000;
    //   border-bottom: 20px solid #cc0000;
    //   mask-border: revert;
    //   border-top-right-radius: 50px;
    //   top: -10px;
    //   left: 0;
    // }
    .message-to {
      flex-direction: row-reverse;
    }
  }
  p {
    margin: 0;
  }

  .chat-sidebar {
    height: 100%;
    max-height: calc(100vh - 70px);
    background-color: #212121;
    border-right: 1px solid #343434;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0px;
      transition: all 1s ease-in-out;
    }

    &:hover::-webkit-scrollbar {
      width: 0.375rem;
    }

    .chat-users {
      img {
        aspect-ratio: 1;
        width: 60px;
        object-fit: cover;
        object-position: center;
      }
      .contact-user {
        cursor: pointer;
        &:hover {
          background-color: #2c2c2c;
        }
      }
    }
  }

  .selected {
    margin-inline: 7px;
    background-color: #766ac8;
    border-radius: 20px;
  }
  .chat-input {
    position: relative;
    padding-bottom: 9px;
    input {
      position: relative;
      border: 0;
      padding: 10px;
      background-color: #212121;
      border-radius: 0px 10px;
    }
    input::after {
      z-index: 10 !important;
      position: absolute;
      content: "aaaaaaa";
      background-color: red;
      width: 100px;
      height: 100px;
      top: 2px;
      left: 0;
    }
    button {
      visibility: hidden;
      opacity: 0;
      aspect-ratio: 1;
      width: 55px;
      background-color: #212121;
      font-size: 25px;
      color: #8774e1;
      border-radius: 50%;
      padding: 20px;
      transform: rotate(-90deg);
      transition: all 500ms ease-in-out;
    }
    input:not(:placeholder-shown) + button {
      visibility: visible;
      transform: rotate(0deg);
      opacity: 1;
    }
    button:hover {
      background-color: #8774e1;
      color: white;
    }
  }
}
