.profile-timeline{
    .nav-item{
        cursor: pointer;
        .active{
            border-bottom: 1px solid #e45a84;
            color: #e45a84;
        }
    }
    // .challenge-card{
    //     background-color: rgb(9, 0, 28);
    // }
    
}